@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 text-center">
    <h2 class="text-danger">Access Denied</h2>
    <p>You do not have permission to access this page.</p>
    <p>Only Admin Can Access</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        Go Back
    </a>
</div>
